{{#if success}}
<div class="alert alert-success">
    {{success}}
</div>
{{/if}}

{{#if error}}
<div class="alert alert-danger">
    {{error}}
</div>
{{/if}}

        <div class="formProjectContainer">

            <h1 id="myProjecth1">Add New Project</h1>
                <button>
                    <a href="/home">Back</a>
                </button>
                <div class="imgUpload">
                    <h2 id="imgUpload">images</h2>
                    </div>
                <form action="/convert-image" method="post" enctype="multipart/form-data">
                        <img src="{{{dataUri}}}" alt="Img Hasn't been added" class="previewImage">
                        <input type="file" name="image">
                        <button type="submit" onclick="return confirm('img has been uploaded')">Convert Image</button>
                </form>
                <form action="/my-project" method="post" class="addProjectForm">
                    <h2>Project Name</h2>
                        <input type="text" id="projectName" name="name">
                    <h2>Description</h2>
                        <input type="text" id="projectDescription" name="description">
                    <h2>Tag</h2>
                        <select id="projectTag" name="tag">
                            <option value="none">None</option>
                            <option value="technology">Technology</option>
                            <option value="sport">Sport</option>
                            <option value="construction">Construction</option>
                            <option value="decoration">decoration</option>
                        </select>
                    
                    <button type="submit" id="submitButton">submit</button>
                </form>
                

        </div>

        <div class="myProjectContainer">
            <div class="filterArea">
                <h2>Stored Projects</h2>
                    
            </div>
<div id="containerArea">
    {{#each projects}}
    <div class="card" id="card">
        <img class="card-img-top" src="{{{img}}}" alt="Not Avalable">
        <div class="card-body">
        <h5 class="card-title">{{name}}</h5>
            <div class="introContainer">
            <p class="card-text">{{description}}</p>
                </div>
                    <button>
                        <a href="/my-project/{{{id}}}">Detail</a>
                    </button>
                    <button>
                        <a href="/my-project/edit/{{{id}}}">Edit</a>
                    </button>
                    
                    <form action="my-project/delete/{{{id}}}" method="post">
                        <button type="submit" onclick="return confirm('Are you sure you want to delete this project?')">
                            Delete
                        </button>
                    </form>
                    <h6>tag:{{tag}}</h6>
                </div>
            </div>
            {{/each}}
            </div>
        </div> 
    </div>
