<div class="mainContainer">
    <div class="detailContainer">
        <div class="detail">
            <h2 class="h2Detail">{{project.name}}</h2>
            {{#if project.img}}
            <img class="imgDetail" src="/uploads/{{project.img}}">
            {{/if}}
            <P>{{project.description}}</P>
            <div class="detailLine"></div>
            <table>
                <tr>
                    <td>id</td>
                   <td>:{{project.id}}</td>
               </tr>
                <tr>
                    <td>tag</td>
                    <td>:{{project.tag}}</td>
                </tr>
            </table>
            <button>
                <a href="/my-project">Back</a>
            </button>
        </div>
    </div>
</div>